/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logo {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logo > h1 {
    font-family: 'Satisfy';
    color: #1230B4;
    margin: 5px;
    font-size: 3em;
}
.logo > span {
    font-family: 'Marck Script';
    margin: 5px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.button1 {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    margin: 5px 5px;
}
.modal {
    display: none;
    
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.75); 
  font-family: "Abel";
    //display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal-content { 
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.modal-content input:focus {
    background-color: #DDDDDD;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container{
      margin-left: 15px;
    margin-right: 15px;
}
.modal-header {
  padding: 2px 16px;
  background-color: #fefefe;
  color: black;
}

input[type]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  //border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #F1F1F1;
  resize: vertical;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
/*  border-radius: 4px;*/
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
